/* body {
    font-family: 'Open Sans', sans-serif;
} */

b {
    font-weight: 650;
    color: #0099ff;
}

s {
    font-weight: 650;
    background-color: #0099ff;
    text-decoration: none;
}

.pill-m {
    background-color: #006eff;
    opacity: 80%;
    padding: .3rem .8rem;
    margin-right: .3rem;
}

.text-shadow {
    text-shadow: rgba(0, 0, 0, 0.356) 1px 0 10px;
}


::selection {
    background: #01c4ff;

    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #01c4ff;
    /* Gecko Browsers */
}



.tightlist li {
    line-height: 1.5rem;
}

.midlist li {
    line-height: 2rem;
}


.looselist li {
    line-height: 3rem;
}



.titleImage {
    background-image: url("..\assets\images\medical app\process.png");
    background-repeat: no-repeat;
    background-size: cover;

}





/*
@media(max-width:425px) {

    #headIllustration {
        height: 300px;
    }

}

#headIllustration {
    height: 720px;
} */









.cardContent {
    padding-left: 20px;
    padding-right: 20px;




    &-body {
        margin-top: 32px;

        p {
            font-size: 20px;
            line-height: 36px;



        }


    }


}






/* tab gallery */
* * {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides2 {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.demo2 {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.active,
.demo2:hover {
    opacity: 1;
}






/* overlay  */
/* this code is not strictly necessary: just to make this demo a bit pleasant */

.overlay div {
    margin: 0 auto;
    width: 100%;
    /* max-width: 650px; */


    background: rgba(255, 255, 255, 0.95);
}

.overlay {
    background: rgba(255, 255, 255, 0.75);
}


.overlay-link:hover {
    cursor: pointer;
}






.overlay-content {
    position: relative;
    top: 60px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #2681ff;
}

.overlay .closebtn {

    top: 1rem;
    right: 2rem;
    opacity: 50%;

    position: fixed;

    z-index: 1030
}





@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    /* .overlay .closebtn {
        font-size: 40px;

        right: 35px;
        color: #818181;

    } */
}




* {
    box-sizing: border-box;
}



pre {
    background: #fafafa;
    padding: 15px;
    border: 1px #ccd dashed;
}

pre+p {
    margin: 5vh 0;
}











/* overlay */


/* to the body element */
.noscroll {
    overflow: visible;
}

.overlay {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[aria-hidden="true"] {
    display: none;
}

[aria-hidden="false"] {
    display: block;
}


.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}