body{
    background= url("/Background_01.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* .blue{
    background-color: rgb(31, 154, 255);
    height: 2000px;
    width: 200px;
    position: relative;


}
.red{
    background-color: rgb(214, 93, 93);
    height: 100px;
    width: 100px;
    position: sticky;
    left: 50px;
    top: 24px;
    z-index: 100;
}


.yellow{
    background-color: rgb(231, 231, 101);
    height: 400px;
    width: 400px;
    position: relative;
    left: 50px;
    top: 24px;
} */

/* .hero_section{
    height: 100px;
    width: 100px;
    background: url("Intro%20to%20CSS%202/Background_01.gif");
} */