/* Elements */

* {
  box-sizing: border-box;
}

html {
  color: #646464;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 18px;
}

body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  height: 100vh;
  align-items: center;
}

h1 {
  font-size: 54px;
  font-weight: bold;
}

p {
  margin-bottom: 18px;
}

a {
  color: #1098c8;
}

img {
  max-width: 100%;
  height: auto;
}

/* Layout */

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 100%;
  justify-content: space-between;
}

/* Content Area */

.content {
  color: #646464;
  display: flex;
  padding: 0 10px;
  margin-top: 36px;
  width: 100%;
  height: 100%;
  align-items: center;
}

.content h1 a {
  color: #646464;
  text-decoration: none;
}

.banner-text {
  flex: 0 1 370px;
  font-size: 24px;
  margin-right: 80px;
  order: 1;
  text-align: right;
}

.banner-image {
  flex: 0 1 250px;
  order: 2;
}

.actions li {
  display: inline-block;
  margin-bottom: 18px;
}

.cta {
  background-color: #f4f4f4;
  border: 3px solid #646464;
  border-radius: 10px;
  color: #646464;
  cursor: pointer;
  font-size: 15px;
  padding: 9px 27px;
  text-decoration: none;
}

.cta.special {
  background-color: #1098c8;
  border-color: #1098c8;
  color: #fff;
}

.cta i {
  margin-right: 9px;
}

.credit {
  margin-top: 18px;
  text-align: center;
}

/* Breakpoints */

/* Add your breakpoints here... */
/* For tablets (768px to 1023px)---------------------------------- */
@media (max-width: 1024px)  {
  .wrapper {
    width: 100%;
    padding: 10px;
}



h1 {
    font-size: 70px;  
}

.content {
    flex-direction: column;  
    justify-content: center;
    j
}

.banner-text{
  text-align: center;
  margin: 0px;
  padding-top: 40px;
}


.banner-image {
  flex: 0 1 200px;
  order: 1;
}

img{
  height: 50vh;
}

.tagline{
  font-size: 32px;
  margin-bottom: 40px
}
.actions{
 display: flex;
 justify-content: space-around;
 padding: 20px;
 
  }

.cta {
  font-size: 22px;
  padding: 12px 30px;
}

.credit {
  font-size: 20px;

}





/* For mobile devices (less than 768px) -------------------------------*/
@media (max-width: 768px) {

html{
  height: 100vh;
}

  img{
    height: 40vh;
  }
  .banner-text{
    padding-top: 20px;
  }

  h1 {
    font-size: 60px;  
}

.tagline{
  font-size: 20px;
  margin-bottom: auto
}

.actions{
  display: flex;
  flex-direction: column;
  margin: auto 0px ;
  padding: auto;
   }


.actions li {
  display: block;
  margin-bottom: 8px;
}

.cta {
  border: 3px solid #646464;
  border-radius: 12px;
  font-size: 18px;
  padding: 12px 36px;
  width: 100%;
}



.credit {
  font-size: 16px;
}
